@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top -300px;
    background-color: #E0E8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    padding: 10px;
}

.card {
    background-color: white;
    width: 100%;
    max-width: 20.438rem;
    border-radius: 1.25rem;
}

.card-image {
    max-width: 100%;
    height: 10rem;
    background-image: url(../images/illustration-hero.svg);
    background-size: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.card-content {
    text-align: center;
    padding: 0 25px;
}

.card-content-header {
    font-size: 1.375rem;
    font-weight: 900;
    color: var(--dark-blue);
    padding-top: 40px;
}

.card-content-paragraph {
    color: var(--desaturated-blue);
    font-weight: 500;
    font-size: 0.938rem;
    line-height: 25px;
    padding: 20px 0;
}

.card-price {
    display: flex;
    align-items: center;
    background-color: var(--very-pale-blue);
    margin: 0 auto;
    padding: 15px;
    border-radius: 11px;
}

.card-price-image {
    padding-right: 10px;
}

.card-price-plan {
    margin-right: auto;
    text-align: right;
}

.card-price-plan-header {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: left;
}

.card-price-plan-paragraph {
    color: var(--desaturated-blue);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
}

.card-price-button {
    border: none;
    text-decoration: underline;
    color: var(--bright-blue);
    font-size: 0.813rem;
    font-weight: 700;
    line-height: 1.4;
    background: none;
    transition: color 500ms;
}

.card-price-button:hover {
    color:#766CF1;
    cursor: pointer;
    text-decoration: none;
}

.card-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
}

.card-submit-proceed {
    background-color: var(--bright-blue);
    color: white;
    border-style: none;
    padding: 15px;
    width: 100%;
    border-radius: 11px;
    font-weight: 900;
    font-size: 0.938rem;
    line-height: 1.4;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    transition: background-color 500ms;
}

.card-submit-proceed:hover {
    background-color: #766CF1;
    cursor: pointer;
}

.card-submit-cancel {
    border: none;
    background: none;
    color: var(--desaturated-blue);
    font-weight: 900;
    font-size: 0.938rem;
    line-height: 1.4;
    padding: 25px 0 30px 0;
}

.card-submit-cancel:hover {
    cursor: pointer;
}










/* MEDIA QUERIES */
@media (min-width: 700px) {
    body {
        background: url(../images/pattern-background-desktop.svg) no-repeat;
        background-color: #E0E8FF;
        background-position: center top -50px;
    }

    .card {
        max-width: 450px;
    }

    .card-image {
        height: 14rem;
    }

    .card-content {
        text-align: center;
        padding: 0 50px;
    }
    
    .card-content-header {
        font-size: 1.688rem;
        padding-top: 45px;
    }
    
    .card-content-paragraph {
        font-size: 1rem;
        padding: 20px 0;
    }

    .card-price {
        padding: 25px;
    }
    
    .card-price-plan {
        margin-right: 90px;
        width: 90px;
    }

    .card-price-plan-header {
        font-size: 0.938rem;
        margin-bottom: 5px;
    }
    
    .card-price-plan-paragraph {
        font-size: 0.938rem;
    }

    .card-price-button {
        font-size: 0.938rem;
    }

    .card-submit-proceed {
        margin: 14px;
    }

}


/* don't forget to always include focus-visible styles to interactive elements. It needs to be clear and obvious (no designs provided for this) so keyboard users know exactly where they are on the page. */