@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    background: url(../images/pattern-background-mobile.svg) no-repeat;
    background-color: #E0E8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    width: 100%;
    max-width: 20.438rem;
    border-radius: 1.25rem;
}

.card-image {
    max-width: 100%;
    height: 10rem;
    background-image: url(../images/illustration-hero.svg);
    background-size: cover;
    border-radius: 1.25rem 1.25rem 0 0;
}

.card-content {
    text-align: center;
    padding: 0 25px;
}

.card-content-header {
    font-size: 1.375rem;
    font-weight: 900;
    color: var(--dark-blue);
    padding-top: 40px;
}

.card-content-paragraph {
    color: var(--desaturated-blue);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    padding: 20px 0;
}






.card-price {
    display: flex;
    align-items: center;
    background-color: var(--very-pale-blue);
    margin: 0 auto;
    padding: 15px;
    border-radius: 11px;
}

.card-price-image {
    /* margin-right: 20px; */
}

.card-price-plan {
    /* margin-right: 3.125rem; */
    margin: auto;
    /* text-align: right; */
}

.card-price-plan-header {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
}

.card-price-plan-paragraph {
    color: var(--desaturated-blue);
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
}

.card-price-button {
    border: none;
    text-decoration: underline;
    color: var(--bright-blue);
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    background: none;
    transition: color 500ms;
}

.card-price-button:hover {
    color:#766CF1;
    cursor: pointer;
    text-decoration: none;
}






.card-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
}

.card-submit-proceed {
    background-color: var(--bright-blue);
    color: white;
    border-style: none;
    padding: 15px;
    width: 100%;
    border-radius: 11px;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    transition: background-color 500ms;
}

.card-submit-proceed:hover {
    background-color: #766CF1;
    cursor: pointer;
}

.card-submit-cancel {
    border: none;
    background: none;
    color: var(--desaturated-blue);
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    padding: 25px 0 30px 0;
}

.card-submit-cancel:hover {
    cursor: pointer;
}










/* MEDIA QUERIES */
@media (min-width: 700px) {
    body {
        background: url(../images/pattern-background-desktop.svg) no-repeat;
        background-color: #E0E8FF;
        background-position: center top -50px;
    }

    .card {
        max-width: 450px;
        height: 697px;
    }

    .card-image {
        height: 14rem;
    }

    .card-content {
        text-align: center;
        padding: 0 50px;
    }
    
    .card-content-header {
        font-size: 27px;
        padding-top: 45px;
    }
    
    .card-content-paragraph {
        font-size: 16px;
        padding: 20px 0;
    }
    
    .card-price {
        padding: 25px;
    }
    
    .card-price-image {
        /* margin-right: 20px; */
    }
    
    /* .card-price-plan {
        margin-right: 90px;
        width: 90px;
    } */

    .card-price-plan-header {
        font-size: 15px;
        margin-bottom: 5px;
    }
    
    .card-price-plan-paragraph {
        font-size: 15px;
    }

    .card-price-button {
        font-size: 15px;
    }

    .card-submit-proceed {
        margin: 14px;
    }

}


/* FEEDBACK


*** Create a branch before implementing ***

content is overflowing for me on mobile. I think this is because of the margins within the card-plan grey box making everything too wide. This margin is also what's causing the annual plan writing to stack:
.card-price-plan {
    margin-right: 3.125rem; // change to margin auto 
    // add text align left here 
}

the card needs a little margin on it or padding on a wrapping element so it can't touch screen edges

change the height 100vh to min-height. This is what's causing the image to be cut off completely for me on mobile landscape at the moment

on the subject of height, the card should never have one. Let it be as tall as it needs to be based off its content. If I change text size or zoom the card needs to be able to grow. Remove that height, and then it will.

font size must never be in px. Use rem

line height should never be in px, it should be unitless like 1.4 or %

your desktop media query is starting to early. This means most mobile users will be served desktop images and styles. Make it at least 700px (or that in rem)

curious why you're using buttons for all 3 actions. Might be fine, might not. What would you expect to happen on click of each of these 1) change 2) proceed 3) cancel. If you say what you'd think would happen that will define what element to use

don't forget to always include focus-visible styles to interactive elements. It needs to be clear and obvious (no designs provided for this) so keyboard users know exactly where they are on the page.

 */